/* RESET */
* {
  box-sizing: border-box;
}

/* Flexbox Grid Styling */
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 90%;
}

#gallery>div {
  max-width: 10rem;
}

#gallery img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

#gallerydlg figure {
  display: flex;
  gap: 1em;
}

/* Close Button */
.dialog_cancel {
  position: relative;
  right: -8px;
  top: -8px;
}

#dialog_header {
  width: 100%;
  display: flex;
  border: 1px solid aliceblue;
  justify-content: space-between;
}
