/* RESET */
* {
  box-sizing: border-box;
}

/* Gallery Styling */

#gallery {
  max-width: 1600px;
  /* Five columns */
  margin: auto;
}

.gallery_set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery_set img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

#gallerydlg figure {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Close Button */
.dialog_cancel {
  position: relative;
  right: -8px;
  top: -8px;
}

#dialog_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#gallerydlg figcaption {
  flex-shrink: 1;
}

#gallerydlg figcaption h4 {
  margin: 0;
  font-style: italic;
}

#gallerydlg figcaption h4::before {
  content: "== ";
}

#gallerydlg figcaption h4::after {
  content: " ==";
}

#gallerydlg figcaption h1 {
  margin: 0;
}

#gallerydlg figcaption h2 {
  margin-bottom: 0;
}

#gallerydlg figcaption .artist-link {
  display: block;
}

#gallerydlg figcaption .artist-link,
#gallerydlg figcaption h3 {
  text-align: right;
  padding-right: 1em;
}

/* Placeholders */

.gallery-image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#gallery .gallery-image {
  width: 320px;
  height: 320px;
  cursor: pointer;
  background-position: center;
}

#gallerydlg .gallery-image {
  width: 700px;
  height: 100vw;
  flex-shrink: 0;
  max-width: 100%;
}

#gallerydlg .gallery-image.placeholder {
  box-shadow: inset 0 0 10px #888;
}

.placeholder h1 {
  font-size: 1.4em;
}

.placeholder h2 {
  font-size: 1em;
}

.gallery-image div {
  border: 2px solid #999;
  padding: 2em;
  text-align: center;
}

#gallery .gallery-image div {
  width: 308px;
  height: 308px;
}

#gallerydlg .gallery-image div {
  width: 648px;
  height: 648px;
}

@media (min-width: 700px) {
  #gallerydlg figure {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}
