* {
  box-sizing: border-box;
}



h1,
h2,
h3 {
  margin: 0.7em auto;
  text-align: center;
}

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap');

body {
  font-family: "Spline Sans Mono", monospace;
}

p {
  max-width: 50em;
  margin: 1.4em auto;
}

/* Header */
.brand {
  margin: auto;
  max-width: 500px;
}

header h2,
header h3 {
  text-align: center;
  margin: 0;
}

.site-logo svg {
  margin: auto;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
  justify-content: space-around;
  padding: 0;
}

/* Footer */
footer P {
  text-align: center;
}


/* Main */
main {
  max-width: 90%;
  margin: 0.5em auto;
}

/* Global */
img[src$=".svg"] {
  max-width: 100%;
}

blockquote {
  max-width: 700px;
  margin: auto;
}
